// reset
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  

	// background style
	background-color: #181818;
	// from svgbackgrounds.com
	background-image: url("../islamic-bg.svg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

	// display
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-wrap: break-word;

  // font
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	color:$base-font-color;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
		-moz-font-feature-settings: "kern" 1;
		-o-font-feature-settings: "kern" 1;
			font-feature-settings: "kern" 1;
	font-kerning: normal;

}

// block elements - bottom margin
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// wrapper
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// code
pre,
code {
    font-family: $code-font-family;
    font-size: 0.9375em;
    border-radius: 3px;
    direction: ltr;
    display: inline-block;
}

code {
    padding: 1px 5px;
}
 
 pre {
    padding: 8px 12px;
    overflow-x: auto;
    padding: 20px;
    background: $header-color;
    border-radius: 20px;
 
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

main {
  display: block; // IE fix
}

// images
img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  img:first-child:last-child {
    border-radius:10px;
    margin:20px 0;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
  }
}

// fig
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

// lists
ul, ol {
  margin-left: $spacing-unit;
  margin-right: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

// headings
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color:#fff;
}

a {
  color: $theme-color;
  text-decoration: none;

  &:hover {
    // color: $text-color;
    text-decoration: underline;
  }
}

blockquote {
  border-left: 10px solid $theme-color;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  margin: $spacing-unit 0;
  padding: 15px;
  border-radius: 10px;;
  background-color: change-color($color: $theme-color, $alpha: 0.1);
  > :last-child {
    margin-bottom: 0;
  }
}

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  tr {
    &:nth-child(even) {
      background-color: #3c3c3c;
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: #454545;
  }

  @include media-query($on-laptop) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}